@import "~antd/dist/antd.css";

.cover_generator_wrapper {
  margin: 0 20%;
  padding: 30px;

  .cover_setting {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;

    .ant-input-affix-wrapper {
      width: 200px;
    }
    .ant-input {
      width: 200px;
    }

    .ant-btn {
      margin-left: 10px;
    }

    .color_warrper {
      // padding: 0 200px;
      width: 225px;
      position: relative;
      margin-left: 10px;

      .bgChoose {
        margin-bottom: 5px;
      }

      .bgPiker {
        position: absolute;
        // height: 285px;
      }
    }
  }

  .cover_display {
    margin: 50px auto;

    .cover_content_wrapper {
      margin: 0 auto;
      // width: 30vw;
      // height: 18vw;

      .cover_content {
        margin: 0 auto;
        width: 40vw;
        height: 24vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover !important;

        .cover_title {
          width: 80%;
          height: 80%;
          border: 3px solid white;
          padding: 10%;
          text-align: justify;
          color: white;
          font-size: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
